.about-project {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 90px 70px 110px;
  box-sizing: border-box;
}

.about-project__head {
  border-bottom: 1px solid #000;
}

.about-project__head-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-project__text-boxes {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 70px 0 110px
}

.about-project__text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__text-title {
  flex: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0;
}

.about-project__text {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin: 0;
}

/* Код для шкалы */
.about-project__scale-boxes {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-items: center;
}

.about-project__scale-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.about-project__scale-box> :first-child {
  flex: 1;
}

.about-project__scale-box> :nth-child(2) {
  flex: 4;
}

.about-project__scale-title_green {
  background-color: #2BE080;
}

.about-project__scale-title_grey {
  background-color: #F2F2F2;
}

.about-project__scale-title {
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-project__scale-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .about-project {
    padding: 69px 50px 90px;
  }

  .about-project__head-title {
    line-height: 35px;
  }

  .about-project__text-boxes {
    margin: 70px 0 93px;
    gap: 30px;
  }

  .about-project__text-box {
    gap: 22px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__scale-box> :first-child {
    flex: 1.0606;
  }
}

@media screen and (max-width: 760px) {
  .about-project {
    padding: 45px 18px 69px;
  }

  .about-project__head-title {
    font-size: 18px;
    line-height: 46px;
  }

  .about-project__text-boxes {
    flex-direction: column;
    gap: 56px;
    margin: 60px 0;
  }

  .about-project__text-box {
    gap: 16px;
  }

  .about-project__text-title {
    font-size: 18px;
    line-height: 21.78px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__scale-boxes {
    gap: 10px;
  }

  .about-project__scale-box> :first-child {
    flex: 2.174;
  }

  .about-project__scale-title {
    font-size: 11px;
    line-height: 13.31px;
  }

  .about-project__scale-text {
    font-size: 11px;
    line-height: 13.31px;
  }
}