.movies-card-list {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 70px 70px 0;
  box-sizing: border-box;
  list-style-type: none;
}

.movies-card-list__box { 
  max-width: 1140px;
  display: flex;
  justify-content: center;
  gap: 33px 20px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.movies-card-list__button-show-more-box {
  max-width: 100%;
  height: 166px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 80px;
  box-sizing: border-box;
}

.movies-card-list__button-show-more {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #000;
  cursor: pointer;
}

.movies-card-list__button-show-more:hover {
  opacity: .8;
}

.movies-card-list__not-found {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: normal;
}

@media screen and (max-width: 980px) {
  .movies-card-list {
    padding: 70px 30px 10px;
  }

  .movies-card-list__box {
    gap: 30px;
  }

  .movies-card-list__button-show-more-box{
    padding-top: 60px;
  }
}

@media screen and (max-width: 760px) {
  .movies-card-list {
    padding: 40px 10px 10px;
  }

  .movies-card-list__box {
    gap: 34px;
  }

  .movies-card-list__button-show-more {
    width: 240px;
  }
}
