.error-message {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  color: #FF004C;
  margin: 0;
  padding: 0;
}

.error-message-center {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  color: #FF004C;
  margin: 0;
  padding: 0;
  text-align: center
}
